.events {
  display: flex;
  width: 350px;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 4px;
  margin-left: 30px;
  padding: 25px 25px;
	background-color: rgb(246, 246, 234);
}
.title {
  margin-bottom: 10px;
}

.description{
	margin-bottom: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
	margin-bottom: 10px;
}

.links {
  display: flex;
  justify-content: space-between;
	color: blueviolet;
	font-weight: 700;
}
